#nickname > span {
    display: inline-block;
    background-color: #555;

    border-radius: .5rem;
    padding: .25rem;
    line-height: 1;
}
#rights > ul > li {
    &::marker {content: " -- ";}

    width: max-content;
    background-color: #555;

    border-radius: .5rem;
    padding: .25rem;
    line-height: 1;
}