html
	head
		title 404
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		Oops, there is nothing! Go to the #[a(href="/") main page] or sign #[a(href="/reg") up]/#[a(href="/auth") in] to our site, please.