html
	head
		title Authorization
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		form(method="post", action="?method=post"）
			label
				span Nickname
				input(name="nickname")
			label
				span Password
				input(name="password")
			button(type="submit") Sign in