doctype html
html
	head
		title Busan Daeyeon Church
		meta(name="viewport" content="width=device-width, initial-scale=1")
		style
			include ../css/common.css
	body
		main
			h1 Busan Daeyeon Church
			p This page was rendered using Pug.js.