doctype html
html
	head
		title Sign up
		meta(name="viewport" content="width=device-width, initial-scale=1")
		style
			include ../css/common.css
			include ../css/sign.css
	body
		h1 Registration
		form#sign(method="post" action="?method=post")
			label
				span Nickname
				input(name="nickname")
			label
				span Password
				input(name="password")
			label
				span Repeat PW
				input(name="password1")
			button(type="submit") Sign up
		script
			include ../js/sign.js