doctype html
html
	head
		title User: #{user}
		meta(name="viewport" content="width=device-width, initial-scale=1")
		style
			include ../css/common.css
			include ../css/user.css
	body
		main
			h1#nickname User: #[span #{user}]
			section#rights
				h2 User rights:
				ul
					li Registered user